body {
	line-height: 1.5;
	font-size: 16px;
	font-family: Roboto Mono, monospace;
	color: 0 solid #1a1b1b;
	max-width: 45rem;
	margin: 0 auto;
	padding: 20px 20px 120px 20px;
}
a {
	cursor: pointer;
	color: #00f;
	text-decoration: none;
	font-weight: 700;
}